option(disabled) Select an LGA
option(value="Birnin Gwari") Birnin Gwari
option(value="Giwa") Giwa
option(value="Igabi") Igabi
option(value="Ikara") Ikara
option(value="Jaba") Jaba
option(value="Jema'A") Jema'a
option(value="Kachia") Kachia
option(value="Kaduna North") Kaduna North
option(value="Kaduna South") Kaduna South
option(value="Kagarko") Kagarko
option(value="Kajuru") Kajuru
option(value="Kaura") Kaura
option(value="Kauru") Kauru
option(value="Kubau") Kubau
option(value="Kudan") Kudan
option(value="Lere") Lere
option(value="Makarfi") Makarfi
option(value="Sabon Gari") Sabon Gari
option(value="Sanga") Sanga
option(value="Soba") Soba
option(value="Zangon Kataf") Zangon Kataf
option(value="Zaria") Zaria