option(disabled) Select a State
option(value="Abia", disabled) Abia
option(value="Adamawa", disabled) Adamawa
option(value="Akwa Ibom", disabled) Akwa Ibom
option(value="Anambra", disabled) Anambra
option(value="Bauchi", disabled) Bauchi
option(value="Bayelsa", disabled) Bayelsa
option(value="Benue", disabled) Benue
option(value="Borno", disabled) Borno
option(value="Cross River", disabled) Cross River
option(value="Delta", disabled) Delta
option(value="Ebonyi", disabled) Ebonyi
option(value="Edo", disabled) Edo
option(value="Ekiti", disabled) Ekiti
option(value="Enugu", disabled) Enugu
option(value="Fct, Abuja", disabled) Fct, Abuja
option(value="Gombe", disabled) Gombe
option(value="Imo", disabled) Imo
option(value="Jigawa", disabled) Jigawa
option(value="Kaduna", selected) Kaduna
option(value="Kano", disabled) Kano
option(value="Katsina", disabled) Katsina
option(value="Kebbi", disabled) Kebbi
option(value="Kogi", disabled) Kogi
option(value="Kwara", disabled) Kwara
option(value="Lagos", disabled) Lagos
option(value="Nasarawa", disabled) Nasarawa
option(value="Niger", disabled) Niger
option(value="Ogun", disabled) Ogun
option(value="Ondo", disabled) Ondo
option(value="Oyo", disabled) Oyo
option(value="Plateau", disabled) Plateau
option(value="Rivers", disabled) Rivers
option(value="Sokoto", disabled) Sokoto
option(value="Taraba", disabled) Taraba
option(value="Yobe", disabled) Yobe
option(value="Zamfara", disabled) Zamfara